.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--color-grey-light-2);
  padding: 1.5rem 0;
  @media only screen and (max-width:$bp-small){
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width:$bp-small){
    order:1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100rem;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all 0.2s;
    margin-left: -1.5rem;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
  }

  &__button {
    margin-left: -3.5rem;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
    background-color: var(--color-grey-light-2);
  }
}

.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    // background: green;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & > *:hover {
    background: var(--color-grey-light-2);
  }

  &__icon-box {
    // height:100%;
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    background-color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }

  &__user {
    // margin-right: 0;
    &--photo {
      height: 4rem;
      border-radius: 50%;
      margin-right: 2rem;
    }

    &--username {
      font-weight: bold;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;

  @media only screen and (max-width: $bp-medium) {
    padding: 0;
  }

  &__nav {
    list-style: none;
    @media only screen and (max-width: $bp-medium) {
      display: flex;
    }
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    @media only screen and (max-width: $bp-medium) {
      // display: flex;
      flex: 1;
      &:not(:last-child) {
        margin-bottom: 0rem;
      }
    }
  }

  &__link:link,
  &__link:visited {
    color: #fff;
    font-size: 1.6rem;
    text-decoration: none;
    display: block;
    padding: 2rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    @media only screen and (max-width: $bp-medium) {
      // display: flex;
      flex: 1;
      justify-content: center;
    }

    @media only screen and (max-width:$bp-small){
      flex-direction: column;
      padding:1rem;
      justify-content: center;
    }
  }
  &__item::before {
    content: "";
    display: block;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 0.3rem;
    height: 100%;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    fill: currentColor;

    @media only screen and (max-width:$bp-small){
      margin-right:0;
      margin-bottom:.5rem;
    }
  }
}

.legal {
  // text-align: center;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 auto;
  @media only screen and (max-width:$bp-medium){
    display:none;
  }
}

.gallery {
  display: flex;
  &__item {
    align-self: stretch;
  }

  &__photo {
    width: 100%;
    height: 100%;
  }
}

.overview {
  // background: var(--color-grey-light-1);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-grey-light-3);
  &__heading {
    font-weight: 100;
    text-transform: uppercase;
    margin: 0 2rem;
    // color:#fff
  }

  &__stars {
    display: flex;
    margin-right: auto;
  }

  &__star-icon,
  &__location-icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-primary);
  }

  &__location-icon {
    margin-right: 0.5rem;
  }

  &__location {
    display: flex;
    align-items: center;
    margin: 0 2rem;

    & svg {
      order: -1;
    }
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--color-primary);
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    &--average {
      font-size: 2rem;
    }
    &--count {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

.btn-inline {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.6rem;
  display: inline-block;
  border: none;
  background: transparent;
  color: var(--color-primary);
  padding-bottom: 0.2rem;
  border-bottom: 1px solid currentColor;

  span {
    margin-left: 3px;
    transition: margin 0.2s;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    color: #333;

    span {
      margin-left: 8px;
    }
  }
  &:hover ~ svg {
    fill: currentColor;
  }
}

.paragraph {
  font-size: 1.4rem;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.list {
  list-style: none;
  font-size: 1.4rem;
  padding: 2rem 0;
  margin: 2rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
  &__item {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
  }

  &__item::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: red;

    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
    margin-right: 1rem;
  }
}

.recommend {
  display: flex;
  align-items: center;

  &__count {
    font-size: 1.4rem;
    margin-right: auto;
  }

  &__friends {
    display:flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

.review {
  background: #fff;
  padding: 3rem;
  margin-bottom: 3.5rem;
  box-shadow: var(--shadow-light);
  position: relative;
  overflow: hidden;
  &::before {
    content: "\201C";
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-3);
    font-family: sans-serif;
    display: inline-block;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: -2.5rem;
    left: -1rem;
    z-index: 1;
  }

  &__text {
    position: relative;
    z-index: 2;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  &__user-photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-box {
  }

  &__user-name {
    color: var(--color-grey-dark-1);
    text-transform: uppercase;
  }

  &__user-date {
  }

  &__user-rating {
    margin-left: auto;
    font-size: 2rem;
    color: var(--color-primary);
  }
}

.cta {
  padding: 4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;

  &__heading {
    font-weight: 100;
    margin-bottom: 2rem;
  }
}

.btn {
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  border: none;
  border-radius: 99999px;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &:focus,
  &:active {
    outline: none;
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    padding: 2rem 7.5rem;
    transition: all 0.2s;
  }
  &__visible {
    display: inline-block;
    padding: 2rem 7.5rem;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &__invisible {
    top: 0;
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
}
